Source/tws.geoitd/tws.geoitd.pos/Connected Services/GeoITDClientSOAP/ITDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://geoitd.geocom.com.uy" elementFormDefault="qualified" targetNamespace="http://geoitd.geocom.com.uy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://geoitddev.geocom.com.uy:8554/v2/ITDService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://geoitddev.geocom.com.uy:8554/v2/ITDService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="processFinancialPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:PurchaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="Amount" nillable="true" type="xs:string" />
          <xs:element name="Quotas" type="xs:int" />
          <xs:element name="Plan" type="xs:int" />
          <xs:element name="Currency" nillable="true" type="xs:string" />
          <xs:element name="TaxRefund" type="xs:int" />
          <xs:element name="TaxableAmount" nillable="true" type="xs:string" />
          <xs:element name="InvoiceAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeedToReadCard" type="xs:boolean" />
          <xs:element minOccurs="0" name="PinpadInitQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CiNoCheckDigit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CardAccountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeferredMonths" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IVAAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CashbackAmount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseRequest" nillable="true" type="tns:PurchaseRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element name="PosID" nillable="true" type="xs:string" />
      <xs:element name="SystemId" nillable="true" type="xs:string" />
      <xs:element name="Branch" nillable="true" type="xs:string" />
      <xs:element name="ClientAppId" nillable="true" type="xs:string" />
      <xs:element name="UserId" nillable="true" type="xs:string" />
      <xs:element name="TransactionDateTimeyyyyMMddHHmmssSSS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:element name="processFinancialPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processFinancialPurchaseResult" nillable="true" type="tns:PurchaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseResponse" nillable="true" type="tns:PurchaseResponse" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:element name="processOfflineFinancialPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:OfflinePurchaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OfflinePurchaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="Amount" nillable="true" type="xs:string" />
          <xs:element name="Quotas" type="xs:int" />
          <xs:element name="Plan" type="xs:int" />
          <xs:element name="Currency" nillable="true" type="xs:string" />
          <xs:element name="AuthorizationCode" nillable="true" type="xs:string" />
          <xs:element name="LastNCardDigits" nillable="true" type="xs:string" />
          <xs:element name="TaxRefund" type="xs:int" />
          <xs:element name="TaxableAmount" nillable="true" type="xs:string" />
          <xs:element name="InvoiceAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeedToReadCard" type="xs:boolean" />
          <xs:element minOccurs="0" name="PinpadInitQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CiNoCheckDigit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CardAccountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeferredMonths" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IVAAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfflinePurchaseRequest" nillable="true" type="tns:OfflinePurchaseRequest" />
  <xs:element name="processOfflineFinancialPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processOfflineFinancialPurchaseResult" nillable="true" type="tns:OfflinePurchaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OfflinePurchaseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfflinePurchaseResponse" nillable="true" type="tns:OfflinePurchaseResponse" />
  <xs:element name="processConfirmFinancialPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:ConfirmPurchaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConfirmPurchaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
          <xs:element name="Amount" nillable="true" type="xs:string" />
          <xs:element name="Quotas" type="xs:int" />
          <xs:element name="Plan" type="xs:int" />
          <xs:element name="Currency" nillable="true" type="xs:string" />
          <xs:element name="TaxRefund" type="xs:int" />
          <xs:element name="TaxableAmount" nillable="true" type="xs:string" />
          <xs:element name="InvoiceAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="TipAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CardAccountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeferredMonths" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IVAAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CiNoCheckDigit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CashbackAmount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfirmPurchaseRequest" nillable="true" type="tns:ConfirmPurchaseRequest" />
  <xs:element name="processConfirmFinancialPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processConfirmFinancialPurchaseResult" nillable="true" type="tns:ConfirmPurchaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConfirmPurchaseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfirmPurchaseResponse" nillable="true" type="tns:ConfirmPurchaseResponse" />
  <xs:element name="processFinancialReverse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:ReverseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReverseRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReverseRequest" nillable="true" type="tns:ReverseRequest" />
  <xs:element name="processFinancialReverseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processFinancialReverseResult" nillable="true" type="tns:ReverseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReverseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReverseResponse" nillable="true" type="tns:ReverseResponse" />
  <xs:element name="cancelFinancialPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:CancelPurchaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelPurchaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelPurchaseRequest" nillable="true" type="tns:CancelPurchaseRequest" />
  <xs:element name="cancelFinancialPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelFinancialPurchaseResult" nillable="true" type="tns:CancelPurchaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelPurchaseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelPurchaseResponse" nillable="true" type="tns:CancelPurchaseResponse" />
  <xs:element name="processFinancialPurchaseVoidByTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:PurchaseVoidRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseVoidRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="TicketNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PinpadInitQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="CiNoCheckDigit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Acquirer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseVoidRequest" nillable="true" type="tns:PurchaseVoidRequest" />
  <xs:element name="processFinancialPurchaseVoidByTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processFinancialPurchaseVoidByTicketResult" nillable="true" type="tns:PurchaseVoidResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseVoidResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseVoidResponse" nillable="true" type="tns:PurchaseVoidResponse" />
  <xs:element name="processOfflineFinancialPurchaseVoidByTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:OfflinePurchaseVoidRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OfflinePurchaseVoidRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Acquirer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CiNoCheckDigit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PinpadInitQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTimeout" type="xs:int" />
          <xs:element name="TicketNumber" nillable="true" type="xs:string" />
          <xs:element name="AuthorizationCode" nillable="true" type="xs:string" />
          <xs:element name="LastNCardDigits" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfflinePurchaseVoidRequest" nillable="true" type="tns:OfflinePurchaseVoidRequest" />
  <xs:element name="processOfflineFinancialPurchaseVoidByTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processOfflineFinancialPurchaseVoidByTicketResult" nillable="true" type="tns:OfflinePurchaseVoidResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OfflinePurchaseVoidResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfflinePurchaseVoidResponse" nillable="true" type="tns:OfflinePurchaseVoidResponse" />
  <xs:element name="processFinancialPurchaseRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:PurchaseRefundRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseRefundRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="TicketNumber" nillable="true" type="xs:string" />
          <xs:element name="OriginalTransactionDateyyMMdd" nillable="true" type="xs:string" />
          <xs:element name="Amount" nillable="true" type="xs:string" />
          <xs:element name="Currency" nillable="true" type="xs:string" />
          <xs:element name="Quotas" type="xs:int" />
          <xs:element name="Plan" type="xs:int" />
          <xs:element name="TaxableAmount" nillable="true" type="xs:string" />
          <xs:element name="TaxRefund" type="xs:int" />
          <xs:element name="InvoiceAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PinpadInitQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="CiNoCheckDigit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeedToReadCard" type="xs:boolean" />
          <xs:element minOccurs="0" name="CardAccountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeferredMonths" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IVAAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseRefundRequest" nillable="true" type="tns:PurchaseRefundRequest" />
  <xs:element name="processFinancialPurchaseRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processFinancialPurchaseRefundResult" nillable="true" type="tns:PurchaseRefundResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseRefundResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseRefundResponse" nillable="true" type="tns:PurchaseRefundResponse" />
  <xs:element name="processOfflineFinancialPurchaseRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:OfflinePurchaseRefundRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OfflinePurchaseRefundRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="TicketNumber" nillable="true" type="xs:string" />
          <xs:element name="OriginalTransactionDateyyMMdd" nillable="true" type="xs:string" />
          <xs:element name="Amount" nillable="true" type="xs:string" />
          <xs:element name="Currency" nillable="true" type="xs:string" />
          <xs:element name="Quotas" type="xs:int" />
          <xs:element name="Plan" type="xs:int" />
          <xs:element name="AuthorizationCode" nillable="true" type="xs:string" />
          <xs:element name="LastNCardDigits" nillable="true" type="xs:string" />
          <xs:element name="TaxRefund" type="xs:int" />
          <xs:element name="TaxableAmount" nillable="true" type="xs:string" />
          <xs:element name="InvoiceAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PinpadInitQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminalGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="CiNoCheckDigit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NeedToReadCard" type="xs:boolean" />
          <xs:element minOccurs="0" name="CardAccountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeferredMonths" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IVAAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Callback" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfflinePurchaseRefundRequest" nillable="true" type="tns:OfflinePurchaseRefundRequest" />
  <xs:element name="processOfflineFinancialPurchaseRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processOfflineFinancialPurchaseRefundResult" nillable="true" type="tns:OfflinePurchaseRefundResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OfflinePurchaseRefundResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfflinePurchaseRefundResponse" nillable="true" type="tns:OfflinePurchaseRefundResponse" />
  <xs:element name="processFinancialPurchaseQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:PurchaseQueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseQueryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseQueryRequest" nillable="true" type="tns:PurchaseQueryRequest" />
  <xs:element name="processFinancialPurchaseQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processFinancialPurchaseQueryResult" nillable="true" type="tns:PurchaseQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PurchaseQueryResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Acquirer" type="xs:int" />
          <xs:element minOccurs="0" name="AcquirerTerminal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AuthorizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CardAccountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CardOwnerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ci" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmvApplicationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmvApplicationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InputMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvalidCardBinRead" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvalidCardIssuerRead" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Issuer" type="xs:int" />
          <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MonthsDeferred" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OriginCardType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OriginalTicket" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POSSignature" nillable="true" type="tns:Signature" />
          <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PosID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PosResponseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PosResponseCodeExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrivateUse1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemainingExpirationTime" type="xs:double" />
          <xs:element minOccurs="0" name="ShowTextInCashBoxScreen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxRefund" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionHour" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherPrintInfo" nillable="true" type="tns:VoucherPrintInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseQueryResponse" nillable="true" type="tns:PurchaseQueryResponse" />
  <xs:complexType name="Signature">
    <xs:sequence>
      <xs:element minOccurs="0" name="SignaturePoints" nillable="true" type="tns:ArrayOfSignaturePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Signature" nillable="true" type="tns:Signature" />
  <xs:complexType name="ArrayOfSignaturePoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SignaturePoint" nillable="true" type="tns:SignaturePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSignaturePoint" nillable="true" type="tns:ArrayOfSignaturePoint" />
  <xs:complexType name="SignaturePoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrawLineWithNextPoint" type="xs:boolean" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignaturePoint" nillable="true" type="tns:SignaturePoint" />
  <xs:complexType name="VoucherPrintInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientVoucherBehavior" type="xs:int" />
      <xs:element minOccurs="0" name="MerchantVoucherBehavior" type="xs:int" />
      <xs:element minOccurs="0" name="RequestSignatureToClient" type="xs:boolean" />
      <xs:element minOccurs="0" name="TextToPrintOnBothVoucher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextToPrintOnClientVoucher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextToPrintOnMerchantVoucher" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherPrintInfo" nillable="true" type="tns:VoucherPrintInfo" />
  <xs:element name="processCardQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:CardQueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CardQueryRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CardQueryRequest" nillable="true" type="tns:CardQueryRequest" />
  <xs:element name="processCardQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processCardQueryResult" nillable="true" type="tns:CardQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CardQueryResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CardQueryResponse" nillable="true" type="tns:CardQueryResponse" />
  <xs:element name="processQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:QueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryRequest">
    <xs:sequence>
      <xs:element name="SystemId" nillable="true" type="xs:string" />
      <xs:element name="FromDateyyyyMMddHHmmss" nillable="true" type="xs:string" />
      <xs:element name="ToDateyyyyMMddHHmmss" nillable="true" type="xs:string" />
      <xs:element name="OnlyConfirmedTransactions" type="xs:boolean" />
      <xs:element minOccurs="0" name="PosID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientAppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryRequest" nillable="true" type="tns:QueryRequest" />
  <xs:element name="processQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processQueryResult" nillable="true" type="tns:QueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfQueryTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryResponse" nillable="true" type="tns:QueryResponse" />
  <xs:complexType name="ArrayOfQueryTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryTransaction" nillable="true" type="tns:QueryTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryTransaction" nillable="true" type="tns:ArrayOfQueryTransaction" />
  <xs:complexType name="QueryTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acquirer" type="xs:int" />
      <xs:element minOccurs="0" name="AcquirerTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorizationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientAppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmvApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmvApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Issuer" type="xs:int" />
      <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthsDeferred" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSSignature" nillable="true" type="tns:Signature" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosResponseCodeExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateUse1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTextInCashBoxScreen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxRefund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDateTimeyyyyMMddHHmmssSSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherPrintInfo" nillable="true" type="tns:VoucherPrintInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryTransaction" nillable="true" type="tns:QueryTransaction" />
  <xs:element name="processCloseQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:QueryCloseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryCloseRequest">
    <xs:sequence>
      <xs:element name="PosID" nillable="true" type="xs:string" />
      <xs:element name="SystemId" nillable="true" type="xs:string" />
      <xs:element name="Branch" nillable="true" type="xs:string" />
      <xs:element name="ClientAppId" nillable="true" type="xs:string" />
      <xs:element name="UserId" nillable="true" type="xs:string" />
      <xs:element name="FromDateyyyyMMddHHmmss" nillable="true" type="xs:string" />
      <xs:element name="ToDateyyyyMMddHHmmss" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryCloseRequest" nillable="true" type="tns:QueryCloseRequest" />
  <xs:element name="processCloseQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processCloseQueryResult" nillable="true" type="tns:QueryCloseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryCloseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfQueryCloseTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryCloseResponse" nillable="true" type="tns:QueryCloseResponse" />
  <xs:complexType name="ArrayOfQueryCloseTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryCloseTransaction" nillable="true" type="tns:QueryCloseTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryCloseTransaction" nillable="true" type="tns:ArrayOfQueryCloseTransaction" />
  <xs:complexType name="QueryCloseTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acquirer" type="xs:int" />
      <xs:element minOccurs="0" name="AcquirerTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CloseId" type="xs:long" />
      <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCloseId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="STransactionsId" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionHour" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TransactionsId" nillable="true" type="q2:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryCloseTransaction" nillable="true" type="tns:QueryCloseTransaction" />
  <xs:element name="echoTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="echoTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="echoTestResult" nillable="true" type="tns:EchoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EchoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EchoResponse" nillable="true" type="tns:EchoResponse" />
  <xs:element name="processCurrentTransactionsBatchQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:QueryTransactionsCurrentBatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryTransactionsCurrentBatchRequest">
    <xs:sequence>
      <xs:element name="PosID" nillable="true" type="xs:string" />
      <xs:element name="SystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientAppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDateTimeyyyyMMddHHmmssSSS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryTransactionsCurrentBatchRequest" nillable="true" type="tns:QueryTransactionsCurrentBatchRequest" />
  <xs:element name="processCurrentTransactionsBatchQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processCurrentTransactionsBatchQueryResult" nillable="true" type="tns:QueryTransactionsCurrentBatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryTransactionsCurrentBatchResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfQueryTransactionsCurrentBatchTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryTransactionsCurrentBatchResponse" nillable="true" type="tns:QueryTransactionsCurrentBatchResponse" />
  <xs:complexType name="ArrayOfQueryTransactionsCurrentBatchTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryTransactionsCurrentBatchTransaction" nillable="true" type="tns:QueryTransactionsCurrentBatchTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryTransactionsCurrentBatchTransaction" nillable="true" type="tns:ArrayOfQueryTransactionsCurrentBatchTransaction" />
  <xs:complexType name="QueryTransactionsCurrentBatchTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acquirer" type="xs:int" />
      <xs:element minOccurs="0" name="AcquirerTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorizationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientAppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmvApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmvApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Issuer" type="xs:int" />
      <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthsDeferred" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginCardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSSignature" nillable="true" type="tns:Signature" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosResponseCodeExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateUse1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTextInCashBoxScreen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxRefund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDateTimeyyyyMMddHHmmssSSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherPrintInfo" nillable="true" type="tns:VoucherPrintInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryTransactionsCurrentBatchTransaction" nillable="true" type="tns:QueryTransactionsCurrentBatchTransaction" />
  <xs:element name="processQueryLastNClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:QueryLastNCloseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryLastNCloseRequest">
    <xs:sequence>
      <xs:element name="TerminalNum" nillable="true" type="xs:string" />
      <xs:element name="SystemId" nillable="true" type="xs:string" />
      <xs:element name="LastNCloseReg" type="xs:int" />
      <xs:element name="FromDateyyyyMMddHHmmss" nillable="true" type="xs:string" />
      <xs:element name="ToDateyyyyMMddHHmmss" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryLastNCloseRequest" nillable="true" type="tns:QueryLastNCloseRequest" />
  <xs:element name="processQueryLastNCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processQueryLastNCloseResult" nillable="true" type="tns:QueryLastNCloseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryLastNCloseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Acquirers" nillable="true" type="tns:ArrayOfAcquirer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryLastNCloseResponse" nillable="true" type="tns:QueryLastNCloseResponse" />
  <xs:complexType name="ArrayOfAcquirer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Acquirer" nillable="true" type="tns:Acquirer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcquirer" nillable="true" type="tns:ArrayOfAcquirer" />
  <xs:complexType name="Acquirer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquirerCode" type="xs:int" />
      <xs:element minOccurs="0" name="AcquirersClose" nillable="true" type="tns:ArrayOfAcquirerClose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Acquirer" nillable="true" type="tns:Acquirer" />
  <xs:complexType name="ArrayOfAcquirerClose">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcquirerClose" nillable="true" type="tns:AcquirerClose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcquirerClose" nillable="true" type="tns:ArrayOfAcquirerClose" />
  <xs:complexType name="AcquirerClose">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquirerCode" type="xs:int" />
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CloseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CloseTotals" nillable="true" type="tns:ArrayOfCloseTotal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcquirerClose" nillable="true" type="tns:AcquirerClose" />
  <xs:complexType name="ArrayOfCloseTotal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CloseTotal" nillable="true" type="tns:CloseTotal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCloseTotal" nillable="true" type="tns:ArrayOfCloseTotal" />
  <xs:complexType name="CloseTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Issuer" type="xs:int" />
      <xs:element minOccurs="0" name="TaxRefund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TotalTaxRefundAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CloseTotal" nillable="true" type="tns:CloseTotal" />
  <xs:element name="echoTestTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:EchoTransactionRquest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EchoTransactionRquest">
    <xs:sequence>
      <xs:element name="SystemId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoTransactionRquest" nillable="true" type="tns:EchoTransactionRquest" />
  <xs:element name="echoTestTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="echoTestTransactionResult" nillable="true" type="tns:EchoTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EchoTransactionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EchoTransactionResponse" nillable="true" type="tns:EchoTransactionResponse" />
  <xs:element name="printDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:PrintDocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PrintDocumentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="DocumentToPrint" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrintDocumentRequest" nillable="true" type="tns:PrintDocumentRequest" />
  <xs:element name="printDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printDocumentResult" nillable="true" type="tns:PrintDocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PrintDocumentResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrintDocumentResponse" nillable="true" type="tns:PrintDocumentResponse" />
  <xs:element name="getHTMLTransactionTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:TransactionTicketRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TransactionTicketRequest">
    <xs:sequence>
      <xs:element name="SystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element name="IsCopyForClient" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintReversed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionTicketRequest" nillable="true" type="tns:TransactionTicketRequest" />
  <xs:element name="getHTMLTransactionTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHTMLTransactionTicketResult" nillable="true" type="tns:TransactionTicketResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TransactionTicketResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransactionTicketResponse" nillable="true" type="tns:TransactionTicketResponse" />
  <xs:element name="getHTMLTransactionTicketStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsCopyForClient" type="xs:boolean" />
        <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrintReversed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHTMLTransactionTicketStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="getHTMLTransactionTicketStreamResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHTMLCloseBatchTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:CloseBatchTicketRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CloseBatchTicketRequest">
    <xs:sequence>
      <xs:element name="SystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CloseBatchTicketRequest" nillable="true" type="tns:CloseBatchTicketRequest" />
  <xs:element name="getHTMLCloseBatchTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHTMLCloseBatchTicketResult" nillable="true" type="tns:CloseBatchTicketResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CloseBatchTicketResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CloseBatchTicketResponse" nillable="true" type="tns:CloseBatchTicketResponse" />
  <xs:element name="getHTMLCloseBatchTicketStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
        <xs:element minOccurs="0" name="STransactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHTMLCloseBatchTicketStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="getHTMLCloseBatchTicketStreamResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>